name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
        channel: 'stable'

    - name: Generate Missing Android Files
      run: |
        # 1. Hide your custom settings so Flutter can generate the system files
        mv pubspec.yaml pubspec.hidden
        
        # 2. Force Flutter to create the missing 'android' folder
        flutter create . --project-name frustchat --org com.talha.frustchat
        
        # 3. Bring back your custom settings
        rm pubspec.yaml
        mv pubspec.hidden pubspec.yaml

    - name: Get Dependencies
      run: flutter pub get

    - name: Build APK
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: frustchat-release-apk
        path: build/app/outputs/flutter-apk/app-release.apk
